services:
  headscale:
    image: docker.io/headscale/headscale:v0.26.1@sha256:ea9b5ee06274d757a4d52103de56cd11a9c393acb19d9a35f4b9fe52ada410de
    container_name: headscale
    restart: unless-stopped
    labels:
      me.tale.headplane.target: headscale
    ports:
      - '127.0.0.1:8080:8080'
      - '127.0.0.1:9090:9090'
    volumes:
      - '/opt/headscale/config.yaml:/etc/headscale/config.yaml'
      - '/opt/headscale/lib:/var/lib/headscale'
      - '/opt/headscale/run:/var/run/headscale'
    command: serve
  headplane:
    image: ghcr.io/tale/headplane:0.6.1@sha256:74bec8f23ce57f235574b7b3e809a0d9ca500947da45dac485b5132fa4cc9fab
    container_name: headplane
    restart: unless-stopped
    ports:
      - '127.0.0.1:3000:3000'
    volumes:
      - '/opt/headplane/config.yaml:/etc/headplane/config.yaml'
      - '/opt/headscale/config.yaml:/etc/headscale/config.yaml'
      - '/opt/headplane/lib:/var/lib/headplane'
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
